body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

#catalogue{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}

#catalogue .box{
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border: solid;
    padding: 20px;
    background-color: white;
    width: 350px;
}

.avis{
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 0px ;
}


.btn{
    border-radius: 5px;
    background-color: black;
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

a{
    text-decoration: none;
}
.link{
    padding: 15px;
    border-radius: 5px;

    color:black;
    background-color: white;
}

.link:hover{
    background-color: black;
    color: white;
}